<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add listing</title>
</head>
<body>
    <form method="post" action="/listing/create">
        <input name="title" placeholder="Enter the title" type="text">
        <br>
        <textarea name="description" placeholder="Enter the description" type="text"></textarea>
        <br>
        <input name="price" placeholder="Enter the price" type="number">
        <br>
        <input name="image" placeholder="Enter the image url/Link" type="text">
        <br>
        <input name="location" placeholder="Enter the location" type="text">
        <br>
        <input name="country" placeholder="Enter the country" type="text">
        <button>Submit</button>
    </form>
</body>
</html>