<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add listing</title>
</head>
<body>
    <form method="post" action="/listings">
        <input name="listings[title]" placeholder="Enter the title" type="text">
        <br>
        <textarea name="listings[description]" placeholder="Enter the description" type="text"></textarea>
        <br>
        <input name="listings[image]" placeholder="Enter the image url/Link" type="text">
        <br>
        <input name="listings[price]" placeholder="Enter the price" type="number">
        <br>
        <input name="listings[location]" placeholder="Enter the location" type="text">
        <br>
        <input name="listings[country]" placeholder="Enter the country" type="text">
        <button>add</button>
    </form>
</body>
</html>