<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user</title>
</head>
<body>
    <!-- <h1><%= msg %></h1> accessing the msg of flash which we passed from the server an argument of the res.render() -->
    <h1><%= msg %></h1>   <!-- now using directly as store in the the res.locals -->
    <h1><%= error %></h1> <!-- if error is there then will error wala msg here -->
    <h1>Hello,<%= name  %></h1>
</body>
</html>