<% layout("/layouts/boilerplates") %>
<div class="row">
    <h1 class="col-6 offset-3">SignUp on WanderLust</h1>
    <div class="col-6 offset-3">
        <form action="/signUp" method="post" class="needs-validation" novalidate>
            <div class="mb-3">
                <lable for="username" class="form-label">Username</lable>
                <input 
                    name="username" 
                    id="username"
                    placeholder="Enter the username" 
                    type="text" 
                    class="form-control"
                    required
                />
                <div class="valid-feedback">
                    Title looks good!
                </div>
            </div>
            <div class="mb-3">
                <lable for="username" class="form-label">email</lable>
                    <input 
                        name="email" 
                        id="email"
                        placeholder="Enter your email-id" 
                        type="text" 
                        class="form-control"
                        required
                    />
            </div>
            <div class="mb-3">
                <lable for="password" class="form-label">password</lable>
                    <input 
                            name="password" 
                            id="password"
                            placeholder="Enter the password" 
                            type="text" 
                            class="form-control"
                            required
                    />
            </div>
            <button class="btn btn-success">signUp</button>
        </form>
    </div>
</div>